{% macro display_sources(news_sources) %}

<div class="row ">
    {% for source in news_sources %}
    <li class="list-unstyled m-4">
        <a class="btn btn-primary" href="{{ url_for('news_articles', source=source.id) }}" role="button">{{ source.name }}</a>
    </li>
    {% endfor %}
</div>

{% endmacro %}


{% macro display_articles(news_articles) %}

<div class="row justify-content-around">
    {% for source in news_articles %}
    <div class="col-md-4">
        <h1>{{ source.title }}</h1>
        <img width="300px" src="{{ source.image_url }}" alt="">
        <span>{{ source.published }}</span>
        <span>{{ source.description }}</span>
    </div>
    {% endfor %}
</div>

{% endmacro %}